$BG_COLOR: rgba(242, 236, 236, 1);
$BG_COLOR_ERROR: rgba(255, 0, 0, .9);
$BG_COLOR_SUCCESS: rgba(0, 128, 0, .9);

$BG_HEADER: darken($BG_COLOR, 40);
$BG_FOOTER: $BG_HEADER;
$BG_HOVER: darken($BG_COLOR, 60);
$BG_POST: $BG_HEADER;

$BG_PAGINATION: $BG_HEADER;
$BG_PAGINATION_HOVER: $BG_HOVER;
$TEXT_PAGINATION_COLOR: rgba(255, 255, 255, 1);

$TEXT_COLOR_MSG: rgba(255, 255, 255, 1);
$TEXT_COLOR: rgba(255, 255, 255, 1);
$TEXT_COLOR_LINK: rgba(255, 255, 255, 1);
$TEXT_COLOR_POST: rgba(255, 255, 255, 1);
